<%- include('../partials/header/header'); %>
  <%- include('../partials/menu/menuPlayer'); %>

    <div class="containerSQ">
      <div class="containerGame  ">
        <h2>📘 Lista de Cenas</h2>
        <a href="/scene/new" class="btn btn-success mb-3">Nova Cena</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Título</th>
              <th>Dificuldade</th>
              <th>Atributo</th>
              <th>NPC</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% scenes.forEach(scene=> { %>
              <tr>
                <td>
                  <%= scene.title %>
                </td>
                <td>
                  <%= scene.difficulty %>
                </td>
                <td>
                  <%= scene.attributeUsed %>
                </td>
                <td>
                  <%= scene.npc ? scene.npc.npcName : '---' %>
                </td>
                <td>
                  <div class="d-flex gap-1">
                    <a href="/scene/<%= scene.id %>" class="btn btn-primary btn-sm">Ver</a>
                    <a href="/scene/<%= scene.id %>/edit" class="btn btn-warning btn-sm">Editar</a>
                    <form action="/scene/<%= scene.id %>/delete" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                  </div>
                </td>

              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('../partials/footer/footer'); %>